/* Header */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0; }

header {
  padding: 16px 0 10px;
  background: rgba(196, 196, 196, 0.52); }

.logo, .btn-block {
  padding: 0; }

.menu {
  margin-top: 7px; }

.menu__item {
  list-style-type: none; }

.menu__item a {
  text-decoration: none;
  color: #000;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  margin-right: 74px; }

.menu__item a:hover {
  color: #329ECC; }

.btn {
  cursor: pointer;
  color: #FDFDFD;
  background: #329ECC;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 10px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal; }

.btn-start {
  width: 184px;
  font-size: 18px;
  line-height: 21px;
  padding: 10px; }

.btn:hover {
  opacity: .8;
  border: 1px solid #000; }

/* Main */
.banner .col-lg-12 {
  padding: 0; }

/* About */
.about .container {
  font-style: normal;
  margin-top: -4px;
  background: rgba(196, 196, 196, 0.52); }

.about .container {
  background: url(../../www/images/bg-about.png);
  padding-bottom: 61px; }

.about__title {
  color: #000;
  text-align: center;
  font-size: 25px;
  line-height: 29px; }

.about__block {
  margin: 0; }

.about__block__title {
  color: #000;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  margin-top: 30px; }

.about__block_text {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 30px; }

/* Progress */
.ed-progress {
  text-align: center;
  font-size: 16px;
  line-height: 19px;
  margin: 9px 0; }

.ed-progress__student {
  background-color: rgba(121, 179, 0, 0.29);
  border-radius: 10px 0 0 10px;
  padding: 18px 0 14px;
  border-right: 1px solid white; }

.ed-progress__project {
  background-color: rgba(199, 75, 82, 0.29);
  border-radius: 0 10px 10px 0;
  padding: 18px 0 14px;
  border-left: 1px solid white; }

/* Reviews */
.reviews .container {
  background: rgba(196, 196, 196, 0.52);
  padding: 22px 0;
  margin-bottom: 9px; }

.reviews__block {
  margin-top: 23px; }

.reviews__title {
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  margin: 0; }

.reviews__text {
  background: rgba(0, 136, 179, 0.29);
  padding: 76px 58px;
  width: auto;
  margin-left: 45px; }

.reviews__text p {
  font-size: 14px;
  line-height: 16px;
  font-style: normal;
  font-weight: normal;
  margin: 0; }

.reviews__img {
  width: auto;
  margin-right: 32px; }

.form_and_buy .container {
  background: rgba(196, 196, 196, 0.52);
  padding-bottom: 94px;
  margin-bottom: 9px; }

.form_and_buy__block {
  padding-left: 32px; }

.form_and_buy__block__text {
  font-size: 15px;
  line-height: 18px;
  margin-bottom: 5px;
  margin-top: 42px; }

.form_and_buy__block__title {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 50px; }

.form_and_buy__block__start span {
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px; }

.form_and_buy__block__start > .start span,
.form_and_buy__block__start > .finish span {
  color: #FC0505; }

.form_and_buy__block__start > .finish {
  margin-left: 175px; }

.form_and_buy__block__form__input input {
  display: block;
  width: 88%;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  padding: 14px 28px;
  margin-bottom: 10px;
  border: 1px solid rgba(0, 0, 0, 0.8); }

.form_and_buy__block__form__input input::placeholder {
  opacity: .5; }

.form_and_buy__block__radio input {
  position: absolute;
  left: -9999px; }

.form_and_buy__block__radio label {
  display: block;
  background: #FFFBFB;
  padding: 9px 19px;
  margin-right: 16px;
  cursor: pointer; }

.form_and_buy__block__radio input:checked + label {
  background: #808080;
  color: #fff; }

.short_text {
  display: inline-block;
  color: rgba(0, 0, 0, 0.1);
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px; }

.btn-form {
  margin-left: 172px;
  margin-top: 17px; }

.form_and_buy__pay {
  margin-left: -16px; }

.buy_block {
  background: rgba(242, 131, 14, 0.5);
  margin-top: -50px;
  padding: 60px 50px 20px; }

.buy_block p {
  font-style: normal;
  font-weight: normal;
  text-align: center; }

.buy_block__old_price_text {
  font-size: 14px;
  line-height: 16px;
  text-decoration-line: line-through;
  color: #6A6A6A; }

.buy_block__old_price {
  margin: 0;
  font-size: 35px;
  line-height: 41px;
  text-decoration-line: line-through;
  color: #6A6A6A; }

.buy_block__price_month {
  margin-top: 8px;
  margin-bottom: 0;
  font-size: 50px;
  line-height: 59px;
  color: #000000; }

.buy_block__sale_text {
  margin: 0;
  font-size: 20px;
  line-height: 23px;
  color: #000000; }

.buy_block__all_price {
  margin-top: 13px;
  margin-bottom: 0;
  font-size: 50px;
  line-height: 59px;
  color: #000000; }

.buy_block__all_price_text {
  margin: 0;
  font-size: 20px;
  line-height: 23px;
  color: #000000; }

.buy_block__warranty {
  margin: 48px auto 0;
  font-size: 12px;
  line-height: 14px;
  color: #6A6A6A;
  border-top: 1px solid black; }

.buy_block__sale:after {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  top: 90px;
  border-width: 0 44px 20px;
  border-style: solid;
  border-color: transparent transparent black;
  transform: rotate(-180deg); }

.buy_block__sale {
  width: 88px;
  height: 90px;
  background: #000000;
  position: relative;
  margin: 50px auto 0; }

.buy_block__sale p {
  padding: 10px 5px 0;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: #fff;
  text-align: center; }

.buy_block__sale p span {
  font-size: 25px;
  line-height: 29px;
  color: #FE1212; }

/* Relevant */
.relevant .container {
  background: rgba(196, 196, 196, 0.52);
  font-style: normal;
  font-weight: normal;
  padding: 0 47px 35px;
  margin-bottom: 9px; }

.relevant__title {
  text-align: center;
  font-size: 30px;
  line-height: 35px;
  color: #000000; }

.relevant__software {
  background: #FFFFFF;
  padding: 0 0 13px;
  margin-right: 21px;
  width: 370px; }

.relevant__software_header {
  height: 120px;
  background-image: url("../../www/images/relevant_software_bg.jpg");
  background-position: -90px -25px;
  padding: 49px 55px 43px; }

.relevant__software_title {
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
  text-align: center;
  margin: 0; }

.relevant__software_links {
  margin: 0 auto;
  text-align: center; }
  .relevant__software_links ul {
    padding: 0; }

.relevant__software_links_item {
  list-style: none;
  padding: 10px 0; }
  .relevant__software_links_item a {
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    text-decoration: none; }
  .relevant__software_links_item :hover {
    color: #4882c9; }

.relevant__software_more {
  text-align: center;
  padding: 14px 39px 0;
  width: 80%;
  margin: 0 auto;
  border-top: 2px solid #000; }
  .relevant__software_more a {
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    text-decoration: none; }

.relevant_link {
  width: 294px; }

.relevant_link__item {
  background: rgba(4, 4, 4, 0.1);
  border-left: 10px solid #329ECC;
  margin-bottom: 23px;
  padding: 20px 0 30px 25px; }
  .relevant_link__item a {
    font-size: 19px;
    color: #000000;
    text-decoration: none; }

.relevant_link__item:last-child {
  margin-bottom: 0; }

.relevant_link__item a:hover {
  color: #4882c9; }

/* Footer */
.footer .container {
  background: rgba(196, 196, 196, 0.52); }

.footer__block {
  padding: 33px 32px 20px; }

.footer__copy {
  transform: matrix(1, 0, 0, -1, 0, 0);
  margin: 0; }

/*# sourceMappingURL=styles.css.map */
